@media (min-width: 373px) and (max-width: 376px) {
    .header {
        display: none;
    }

    .mobile-header {
        display: flex;
    }

    .mobile-header__logo h2 {
        color: #1A1A1A;
        font-size: 13px;
    }

    .section__main-box-1 {
        display: block;
        width: 100%;
        height: auto;
    }

    .header__img-logo {
        width: 45%;
        height: 20%;
    }

    .section {
        display: block;
    }

    .section__heading {
        font-size: 30px;
    }

    .section__text {
        width: 100%;
        margin-bottom: 10%;
    }

    .section__text p {
        font-size: 14px;
    }

    .section__main-box-2 {
        display: none;
    }

    .section__main-box-2-mobile {
        display: block;
    }

    .section__flex-buttons {
        margin-top: 120%;
        width: 100%;
    }

    .section__button-1 a {
        font-size: 16px;
    }

    .section__button-2 a {
        font-size: 16px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__box {
        display: block;
        width: 100%;
        text-align: center;
    }

    .footer__box-1 {
        width: 100%;
        text-align: center;
    }

    .footer__img {
        margin: 0 auto;
        padding-right: 15%;
    }

    .footer__img-2 {
        left: 45%;
        top: 60%;
    }

    .footer__heading h1 {
        font-size: 26px;
    }

    .section__main-box-2-mobile {
        display: block;
    }
}

@media (min-width: 1800px) and (max-width: 1921px) {
    .mobile-header {
        display: none;
    }

    .section__main-box-2-mobile {
        display: none;
    }
}

.mobile-header {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    height: 15vh;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.mobile-header__logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}